---

import { getTeamMembers, getOffers } from '../lib/API';
import type { TeamMember, Offer } from '../lib/types';
import Base from '../layouts/Base.astro';
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const teamMembers: TeamMember[] = await getTeamMembers();

const offers: Offer[] = await getOffers();
---

<Base>
	<main>
		<!-- TEAM -->
		<section>
		{teamMembers.map((item) => (
			<a href={`/team/${item.slug}`}>
				<article>
					<h2 set:html={item.name} />
					<img src={item.image.url} alt={item.image.description} />
				</article>
			</a>
				)
			)}
		</section>
		<!-- END TEAM -->
		<!-- ANGEBOT -->
		<section>
			{offers.map((item) => (
				<a href={`/angebot/${item.slug}`}>
					<article>
						<h2 set:html={item.name} />
						{item.image && <img src={item.image.url} alt={item.image.description} />}

						<div set:html={documentToHtmlString(item.intro)} />
					</article>
				</a>
			))}
		</section>
		<!-- END ANGEBOT -->

	</main>
</Base>
