---
import {
  getTeamMembers,
  getOffers,
  getPartners,
  getConfigByID,
} from "../lib/API";
import type { TeamMember, Offer, Partner } from "../lib/types";
import Base from "../layouts/Base.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import TeamList from "../components/TeamList.astro";
import Map from "../components/Map.astro";
import SectionHeader from "../components/SectionHeader.astro";

const teamMembers: TeamMember[] = await getTeamMembers();

const settings = await getConfigByID("5eUmE4yWNEM9xNibICQaWh");

console.log(settings);

const offers: Offer[] = await getOffers();
const partners: Partner[] = await getPartners();
---

<Base>
  <main>
    <!-- TEAM -->
    <TeamList teamMembers={teamMembers} />

    <!-- END TEAM -->
    <!-- ANGEBOT -->
    <section>
      <SectionHeader title="Therapien" id="therapy" />
      {
        offers.map((item) => (
          <a href={`/angebot/${item.props.slug}`}>
            <article>
              <h2 set:html={item.props.name} />
              {item.props.image && (
                <img
                  src={item.props.image.url}
                  alt={item.props.image.description}
                />
              )}

              <div set:html={documentToHtmlString(item.props.intro)} />
            </article>
          </a>
        ))
      }
    </section>
    <!-- END ANGEBOT -->
    <section>
      <SectionHeader title="Kontakt" id="contact" />
      <Map data={settings.data} />
      <section class="p-4">
        <SectionHeader title="Unsere Partner" id="partners" />

        <ul class="flex flex-wrap justify-around font-smallCaps text-lg">
          {
            partners.map((item, index) => (
              <>
                <li>
                  <a
                    class="hover:underline underline-offset-4 text-brand"
                    href={item.props.link}
                    set:html={item.props.name}
                  />
                </li>
                {index < partners.length - 1 && <span> • </span>}
              </>
            ))
          }
        </ul>
      </section>
    </section>
  </main>
</Base>
