---
import {
  getTeamMembers,
  getOffers,
  getPartners,
  getConfigByID,
  getLandingPage,
} from "../lib/API";
import type { TeamMember, Offer, Partner } from "../lib/types";
import Base from "../layouts/Base.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import TeamList from "../components/TeamList.astro";
import OfferList from "../components/OfferList.astro";
import Map from "../components/Map.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ContactForm from "../components/ContactForm.astro";
import RichTextContainer from "../components/RichTextContainer.astro";
import Slideshow from "../components/Slideshow.astro";

const landingPage = await getLandingPage();

const teamMembers: TeamMember[] = await getTeamMembers();

const settings = await getConfigByID("5eUmE4yWNEM9xNibICQaWh");

const offers: Offer[] = await getOffers();
const partners: Partner[] = await getPartners();
---

<Base>
    <header class="w-screen h-screen relative">
      <Slideshow images={landingPage.slideshowImages} />
      <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 text-shadow-lg text-center">
        <h1
        class="prefix lowercase text-xl font-smallCaps leading-none text-brand tracking-wider drop-shadow-lg"
        set:html={settings.data.prefix}
        />
        <h1 class="title font-smallCapsBold text-4xl text-brand tracking-wider mb-4 drop-shadow-xl">
          <span class="border-brand px-8 border-b-2"> {settings.data.owner}</span>
        </h1>
        <p class="subtitle font-primary text-xl" set:html={settings.data.subtitle} />
      </div>
    </header>
  <main>
     <RichTextContainer class="p-4 text-center" content={landingPage.introText} />
    <!-- TEAM -->
    <TeamList teamMembers={teamMembers} />

    <!-- END TEAM -->
    <!-- ANGEBOT -->
     <OfferList offers={offers} />
   
    <!-- END ANGEBOT -->
    <section>
      <SectionHeader title="Kontakt" id="contact" />
      <Map id="map" data={settings.data} />
      <RichTextContainer class="p-4 text-center" content={landingPage.contactText} />
      <ContactForm />
    </section>
    <section class="p-4">
      <SectionHeader title="Unsere Partner" id="partners" />

      <ul class="flex flex-wrap justify-around font-smallCaps text-lg">
        {
          partners.map((item, index) => (
            <>
              <li>
                <a
                  class="hover:underline underline-offset-4 text-brand"
                  href={item.props.link}
                  set:html={item.props.name}
                />
              </li>
              {index < partners.length - 1 && <span> • </span>}
            </>
          ))
        }
      </ul>
    </section>
  </main>
</Base>
