---
import SectionHeader from "./SectionHeader.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
const { offers } = Astro.props;
---

<section class="container mx-auto px-4 mb-8">
  <SectionHeader title="Therapien" id="therapy" />
  <ul class="mx-auto max-w-lg">
    {
      offers.map((item, index) => (
        <li class="mb-8">
          <a class="group" href={`/angebot/${item.props.slug}`}>
            <article class="relative grid grid-cols-3 overflow-hidden mb-0 group-hover:shadow-lg transition-all group-hover:scale-105">
              <div
                class={`
                col-span-2 h-full bg-brand flex flex-col justify-center 
                ${index % 2 !== 0 ? "order-1 text-right" : "order-2"}
              `}
              >
                <h3
                  class="text-xl sm:text-3xl px-4  sm:px-8  text-white group-hover:underline underline-offset-4 font-smallCapsBold tracking-wider"
                  set:html={item.props.name}
                />
                <div class="absolute bg-white w-full h-full px-8 top-24 group-hover:top-0 z-10 right-0 opacity-0 group-hover:opacity-100 pt-28 group-hover:pt-8  transition-all text-left">
                  <h3 class="text-xl font-smallCapsBold tracking-wider text-brand">
                    {item.props.name}
                  </h3>

                  <div
                    class="relative"
                    set:html={documentToHtmlString(item.props.intro)}
                  />
                </div>
              </div>
              <div
                class={`
                  relative
                  col-span-1
                  ${index % 2 !== 0 ? "order-2" : "order-1"}
                `}
              >
                {item.props.image && (
                  <img
                    src={item.props.image.url}
                    alt={item.props.image.intro}
                  />
                )}
              </div>
            </article>
          </a>
        </li>
      ))
    }
  </ul>
</section>
