---
import "../styles/main.scss";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { title = "Default Title", description = "", slug = "", image = "/default-og-image.jpg", domain } = Astro.props;
const pageUrl = `${domain}/${slug}`;
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={pageUrl} />

    <!-- Open Graph / Twitter -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={pageUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
  </head>

  <body class="font-primary">
    <Navigation />
    <main class="pb-20 md:pt-14 md:pb-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
